* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #85c7f2;
  --button-background-color: #726da8;
  --list-item-background-color: #29619d;
  --list-background-color: #827eec;
  --footer-background-color: #726da8;
  --text-color: #e5ccff;
  --title-text-color: #726da8;
  --button-text-color: #e5ccff;
  --footer-text-color: #e5ccff;
  --settings-menu-background: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.title-container {
  flex: 1;
  display: flex;
  justify-content: center;
  color: var(--title-text-color);
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  position: absolute; /* Зробимо бургер-меню абсолютним */
  right: 20px; /* Відстань справа */
}

.burger span {
  background: var(--button-background-color);
  height: 4px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.settings-menu {
  display: none;
  position: absolute;
  top: 60px;
  background-color: var(--settings-menu-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  flex-direction: column;
  z-index: 10;
}

.settings-menu button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.settings-menu button:hover {
  background-color: #5c54a6; /* Darker shade on hover */
}

.burger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  height: 2rem;
  margin: 10px 5%;
  border-radius: 10px;
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  height: 2rem;
  margin: 0 5%;
  border-radius: 10px;
  cursor: pointer;
}

.list-container {
  background-color: var(--list-background-color);
  border-radius: 10px;
  margin: 5%;
}

.list {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--list-item-background-color);
  border-radius: 10px;
  margin: 5%;
  overflow: hidden;
  padding: 10px;
}

.text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.delete-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  height: 1.5rem;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button-img {
  height: 1rem;
  width: auto;
}

.crossed {
  text-decoration: line-through;
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  position: fixed;
  width: 100%;
  bottom: 0;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

@media (min-width: 768px) {
  .main {
    margin: 0 25%;
  }

  .input-container {
    flex-direction: row;
  }

  .input {
    width: 70%;
    margin: auto;
  }

  .button {
    width: 25%;
    margin: auto;
  }

  .list {
    font-size: 1rem;
  }

  .list-item {
    padding: 5px;
    margin: 10px;
  }

  .list-container {
    width: 100%;
    margin: 5% 0;
  }
  
  .settings-menu {
    right: 0;
    width: 23%;
  }
  
  .settings-menu button {
    text-align: right;
  }
  
}

